## How do I select a pandas Series from a DataFrame?

Two basic object types that hold data.
Dataframe : The table of rows and columns
Series: Each of the columns in the DataFrame

You would want to do this if : 

Example 1 : Analyize data in that series
Example 2 : Manipulate the data in the seriese

In [1]:
import pandas as pd

In [5]:
# The only difference between read_table and csv is that csv has seprarated commas at defalt.
ufo = pd.read_csv('http://bit.ly/uforeports', sep=',')

In [10]:
# confirms it is a DataFrame
type(ufo)

pandas.core.frame.DataFrame

In [11]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [20]:
# Now let's select a Series within the dataframe. 
# We will use bracket notation to get only cities in the data.


ufo['City']

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [21]:
# There's a shortcut by using dot notation
ufo.City

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [22]:
# How do we select the Colors Reported series
# Dot notation won't work, so we can only use bracket notation

ufo['Colors Reported']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
18236    NaN
18237    NaN
18238    NaN
18239    RED
18240    NaN
Name: Colors Reported, Length: 18241, dtype: object

Bonus : 
How to create a new series within a dataframe You can concatnate series within Python.

In [23]:
# Let's create a new series for LOCATION that hold City and State.
ufo['Location'] = ufo.City + ', ' + ufo.State

In [24]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

Notice the new Location series. I hope you enjoyed the lesson.
Visit www.DesignIsOrion.com for more Python content.